<div class="container">
  <div class="row">
    <h4>Slider Demo</h4>
  </div>
  <div class="row">
    <div class="col-md-2">
      Inputs
    </div>
    <div class="col-md-2">

      <div class="row">
        <label for="">
Min:
        <input type="number" [(ngModel)] = "min">
      </label>
      </div>

    </div>
    <div class="col-md-2">
      &nbsp;
    </div>
    <div class="col-md-2">
      <div class="row">
        <label for="">
Max:
        <input type="number" [(ngModel)] = "max">
      </label>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      Slider:
    </div>
    <div class="col-md-10">
      <app-slider [(max)]="max" [(min)]="min" [lowerBound]="lowerLimit" [upperBound]="upperLimit"></app-slider>
    </div>

  </div>
  <div class="row">
    &nbsp;
  </div>
   <div class="row">
    <div class="col-md-2">
      Custom step slider:
    </div>
    <div class="col-md-10">
      <app-slider [(max)]="max" [(min)]="min" [lowerBound]="lowerLimit" [upperBound]="upperLimit" [step]="0.01" ></app-slider>
    </div>

  </div>
</div>
