/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/scss/bootstrap";
@import "./styles/nouislider";
// @import "../node_modules/npm-font-open-sans/open-sans";

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./styles/fonts/Open Sans/Regular/OpenSans-Regular.ttf');
}

body {
  font-family: 'Open Sans'
}
